<h1>QA Report</h1>

<div class="wrapper">
  <h3>Please, upload your log file!</h3>
  <form id="upload" method="post" action="/send_file" enctype="multipart/form-data">
    <div class="upload-button">
      <div class="filename">
        Nothing Selected
      </div>
      <label class="custom-file-upload">
      <input type="file" name="file" class="input-file"/>
        <i class="fa fa-upload" aria-hidden="true"></i>
      </label>
    </div>

    <div class="send-button">
      <input type="submit" name="name" value="Submit File">
    </div>

    <label class="error-label hide">Please upload a file with .log extension</label>
  </form>

  <a href="/reports" class="my-reports">My Reports</a>
</div>

<div class="signature">
  <h5>1st Hackathon - Coding for Fun!</h5>
  <h6><img src="assets/images/logo.png" alt="" /> WAWANDCO</h6>
</div>


<div class="loading">
  <img src="assets/images/loading.gif" alt="" />
</div>
